n8n/01-nouveau-contact-analyse-ia.json
{
  "name": "01 - Nouveau Contact - Analyse IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nouveau-contact-analyse-ia",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "nouveau-contact-analyse-ia"
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-5-20250929', max_tokens: 200, temperature: 0.3, messages: [{ role: 'user', content: `Score lead artisan JSON STRICT 0-100.\n\nNom: ${$json.body.nom}\nPrenom: ${$json.body.prenom}\nEmail: ${$json.body.email}\nTelephone: ${$json.body.telephone}\nType client: ${$json.body.type_client}\nSource: ${$json.body.source}\nNotes: ${$json.body.notes}\nAdresse: ${$json.body.adresse}\n\nCriteres:\n- CA potentiel (>30k = +)\n- Urgence travaux\n- Proximite geographique\n\nREPONDS JSON SEUL:\n{\"score\": 87, \"qualifie\": true, \"raison\": \"CA 60k renovation complete\", \"priorite\": \"haute\"}` }] }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Anthropic - Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse la réponse Anthropic\nconst response = $input.first().json;\nlet aiText = '';\n\nif (response.body && response.body.content && response.body.content[0]) {\n  aiText = response.body.content[0].text;\n} else if (response.content && response.content[0]) {\n  aiText = response.content[0].text;\n}\n\n// Essayer de parser le JSON\nlet result;\ntry {\n  // Extraire le JSON de la réponse (au cas où il y a du texte autour)\n  const jsonMatch = aiText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  } else {\n    result = { score: 0, qualifie: false, raison: 'Erreur parsing', priorite: 'basse' };\n  }\n} catch (e) {\n  result = { score: 0, qualifie: false, raison: 'Erreur parsing: ' + e.message, priorite: 'basse' };\n}\n\nresult.raw_response = aiText;\nreturn [{ json: result }];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Parse Réponse IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-qualifie",
              "leftValue": "={{ $json.qualifie }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Lead Qualifié?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "2ffbd9c2-8a98-81bc-99f5-000bde7c572d",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Nom|title",
              "title": "={{ $('Webhook').item.json.body.nom }}"
            },
            {
              "key": "Prenom|rich_text",
              "richTextValue": "={{ $('Webhook').item.json.body.prenom }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $('Webhook').item.json.body.email }}"
            },
            {
              "key": "Telephone|phone_number",
              "phoneValue": "={{ $('Webhook').item.json.body.telephone }}"
            },
            {
              "key": "Type Client|rich_text",
              "richTextValue": "={{ $('Webhook').item.json.body.type_client }}"
            },
            {
              "key": "Source|rich_text",
              "richTextValue": "={{ $('Webhook').item.json.body.source }}"
            },
            {
              "key": "Adresse|rich_text",
              "richTextValue": "={{ $('Webhook').item.json.body.adresse }}"
            },
            {
              "key": "Notes|rich_text",
              "richTextValue": "={{ $('Webhook').item.json.body.notes }}"
            },
            {
              "key": "Statut|select",
              "selectValue": "nouveau"
            },
            {
              "key": "Score IA|number",
              "numberValue": "={{ $json.score }}"
            },
            {
              "key": "Priorité|select",
              "selectValue": "={{ $json.priorite }}"
            },
            {
              "key": "Raison IA|rich_text",
              "richTextValue": "={{ $json.raison }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Notion - Créer Lead",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1250, 200],
      "credentials": {
        "notionApi": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, score: $('Parse Réponse IA').item.json.score, qualifie: $('Parse Réponse IA').item.json.qualifie, raison: $('Parse Réponse IA').item.json.raison, priorite: $('Parse Réponse IA').item.json.priorite }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Réponse Qualifié",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, score: $('Parse Réponse IA').item.json.score, qualifie: false, raison: $('Parse Réponse IA').item.json.raison, priorite: $('Parse Réponse IA').item.json.priorite }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Réponse Non Qualifié",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 450]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Anthropic - Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic - Score Lead": {
      "main": [
        [
          {
            "node": "Parse Réponse IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Réponse IA": {
      "main": [
        [
          {
            "node": "Lead Qualifié?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Qualifié?": {
      "main": [
        [
          {
            "node": "Notion - Créer Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Réponse Non Qualifié",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Créer Lead": {
      "main": [
        [
          {
            "node": "Réponse Qualifié",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "pack-artisan"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
