n8n/02-demande-devis.json
{
  "name": "02 - Demande de Devis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "artisan-demande-devis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000001",
      "name": "Webhook Demande Devis",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "artisan-demande-devis"
    },
    {
      "parameters": {
        "jsCode": "// Validation RGPD + sanitization des données\nconst body = $input.first().json.body;\n\n// Vérification consentement RGPD\nif (!body.consentement_rgpd || body.consentement_rgpd !== true) {\n  return [{ json: { valid: false, error: 'Consentement RGPD non fourni' } }];\n}\n\n// Validation email\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!body.email || !emailRegex.test(body.email)) {\n  return [{ json: { valid: false, error: 'Email invalide' } }];\n}\n\n// Vérification champs requis\nconst required = ['nom', 'email', 'telephone', 'description'];\nfor (const field of required) {\n  if (!body[field] || body[field].toString().trim() === '') {\n    return [{ json: { valid: false, error: `Champ manquant: ${field}` } }];\n  }\n}\n\n// Sanitization\nfunction san(s) {\n  return s ? s.toString().trim().replace(/<[^>]*>/g, '').replace(/[<>\"'&]/g, '') : '';\n}\n\nconst nom = san(body.nom);\nconst email = san(body.email).toLowerCase();\nconst telephone = san(body.telephone);\nconst description = san(body.description || '').substring(0, 500);\nconst dateCreation = new Date().toISOString();\n\nreturn [{ json: {\n  valid: true,\n  nom,\n  email,\n  telephone,\n  description,\n  date_creation: dateCreation\n} }];"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000002",
      "name": "Validation RGPD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000003",
      "name": "Consentement OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "2ffbd9c2-8a98-818d-80e3-c67f27811893",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Nom|title",
              "title": "={{ $json.nom }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $json.email }}"
            },
            {
              "key": "Telephone|phone_number",
              "phoneValue": "={{ $json.telephone }}"
            },
            {
              "key": "Description demande|rich_text",
              "richTextValue": "={{ $json.description }}"
            },
            {
              "key": "Date creation|date",
              "dateValue": "={{ $json.date_creation }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000004",
      "name": "Notion - Créer Lead Devis",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1050, 200],
      "credentials": {
        "notionApi": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Validation RGPD').item.json.email }}",
        "subject": "Confirmation de votre demande de devis",
        "emailType": "html",
        "message": "<html><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n<div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; border-radius: 10px 10px 0 0; text-align: center;\">\n  <h1 style=\"color: white; margin: 0;\">Demande de devis reçue !</h1>\n</div>\n<div style=\"background: #f8f9fa; padding: 30px; border-radius: 0 0 10px 10px;\">\n  <p>Bonjour <strong>{{ $('Validation RGPD').item.json.nom }}</strong>,</p>\n  <p>Nous avons bien reçu votre demande de devis et nous vous en remercions.</p>\n  <div style=\"background: white; padding: 20px; border-radius: 8px; border-left: 4px solid #667eea; margin: 20px 0;\">\n    <h3 style=\"color: #667eea; margin-top: 0;\">Récapitulatif</h3>\n    <p><strong>Description :</strong> {{ $('Validation RGPD').item.json.description }}</p>\n    <p><strong>Date de réception :</strong> {{ $('Validation RGPD').item.json.date_creation }}</p>\n  </div>\n  <p>Notre équipe va étudier votre demande et vous recontactera dans les <strong>48 heures</strong>.</p>\n  <p style=\"color: #666; font-size: 12px; margin-top: 30px;\">Conformément au RGPD, vos données sont traitées uniquement dans le cadre de votre demande de devis.</p>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000005",
      "name": "Gmail - Confirmation Devis",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1350, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Demande de devis enregistrée. Un email de confirmation vous a été envoyé.' }) }}",
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000006",
      "name": "Réponse Succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1600, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || 'Validation échouée' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000007",
      "name": "Réponse Erreur Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 450]
    }
  ],
  "connections": {
    "Webhook Demande Devis": {
      "main": [
        [
          {
            "node": "Validation RGPD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation RGPD": {
      "main": [
        [
          {
            "node": "Consentement OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consentement OK?": {
      "main": [
        [
          {
            "node": "Notion - Créer Lead Devis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Réponse Erreur Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Créer Lead Devis": {
      "main": [
        [
          {
            "node": "Gmail - Confirmation Devis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Confirmation Devis": {
      "main": [
        [
          {
            "node": "Réponse Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "pack-artisan"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
