n8n/05-relance-devis.json
{
  "name": "05 - Relance Devis Non Signés",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000001",
      "name": "CRON Quotidien 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calcul des seuils de dates\nconst now = new Date();\n\n// Seuil de relance : 7 jours\nconst seuilRelance = new Date(now);\nseuilRelance.setDate(seuilRelance.getDate() - 7);\n\n// Seuil d'expiration : 30 jours\nconst seuilExpiration = new Date(now);\nseuilExpiration.setDate(seuilExpiration.getDate() - 30);\n\nreturn [{ json: {\n  today: now.toISOString().split('T')[0],\n  seuil_relance: seuilRelance.toISOString(),\n  seuil_expiration: seuilExpiration.toISOString()\n} }];"
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000002",
      "name": "Init Seuils Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2ffbd9c2-8a98-818d-80e3-c67f27811893",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Statut|status",
              "condition": "equals",
              "statusValue": "Nouveau"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000003",
      "name": "Notion - Query Devis Nouveaux",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [750, 300],
      "credentials": {
        "notionApi": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Classifier les devis à relancer (entre 7 et 30 jours)\nconst items = $input.all().map(item => item.json);\nconst seuils = $('Init Seuils Dates').first().json;\n\nconst seuilRelance = new Date(seuils.seuil_relance).getTime();\nconst seuilExpiration = new Date(seuils.seuil_expiration).getTime();\n\nconst aRelancer = [];\n\nfor (const item of items) {\n  // Trouver la date de création\n  let dateCreation;\n  if (item.properties && item.properties['Date creation'] && item.properties['Date creation'].date) {\n    dateCreation = new Date(item.properties['Date creation'].date.start).getTime();\n  } else if (item.created_time) {\n    dateCreation = new Date(item.created_time).getTime();\n  } else {\n    continue;\n  }\n  \n  // Entre 7 et 30 jours\n  if (dateCreation <= seuilRelance && dateCreation >= seuilExpiration) {\n    // Extraire les infos\n    const props = item.properties || {};\n    \n    let nom = '';\n    if (props.Nom && props.Nom.title && props.Nom.title[0]) {\n      nom = props.Nom.title[0].plain_text;\n    }\n    \n    let email = '';\n    if (props.Email && props.Email.email) {\n      email = props.Email.email;\n    }\n    \n    let description = '';\n    if (props['Description demande'] && props['Description demande'].rich_text && props['Description demande'].rich_text[0]) {\n      description = props['Description demande'].rich_text[0].plain_text;\n    }\n    \n    if (email) {\n      aRelancer.push({\n        notionPageId: item.id,\n        nom,\n        email,\n        description,\n        dateCreation: new Date(dateCreation).toISOString().split('T')[0]\n      });\n    }\n  }\n}\n\nreturn [{ json: {\n  hasRelances: aRelancer.length > 0,\n  totalRelances: aRelancer.length,\n  aRelancer: aRelancer\n} }];"
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000004",
      "name": "Classifier Devis à Relancer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-hasrelances",
              "leftValue": "={{ $json.hasRelances }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000005",
      "name": "Devis à Relancer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "jsCode": "// Éclater la liste de devis en items individuels\nconst data = $input.first().json;\nconst items = data.aRelancer.map(devis => ({ json: devis }));\nreturn items;"
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000006",
      "name": "Split Devis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Suivi de votre demande de devis",
        "emailType": "html",
        "message": "<html><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n<div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; border-radius: 10px 10px 0 0; text-align: center;\">\n  <h1 style=\"color: white; margin: 0;\">Suivi de votre demande</h1>\n</div>\n<div style=\"background: #f8f9fa; padding: 30px; border-radius: 0 0 10px 10px;\">\n  <p>Bonjour <strong>{{ $json.nom }}</strong>,</p>\n  <p>Nous revenons vers vous concernant votre demande de devis du <strong>{{ $json.dateCreation }}</strong>.</p>\n  <div style=\"background: white; padding: 20px; border-radius: 8px; border-left: 4px solid #667eea; margin: 20px 0;\">\n    <h3 style=\"color: #667eea; margin-top: 0;\">Votre demande</h3>\n    <p>{{ $json.description }}</p>\n  </div>\n  <p>Avez-vous eu le temps d'examiner notre proposition ? Nous restons à votre disposition pour :</p>\n  <ul>\n    <li>Répondre à vos questions</li>\n    <li>Adapter le devis selon vos besoins</li>\n    <li>Planifier une visite technique</li>\n  </ul>\n  <p>N'hésitez pas à nous contacter pour en discuter.</p>\n  <p style=\"color: #666; font-size: 12px; margin-top: 30px;\">Si vous avez déjà donné suite, veuillez ignorer ce message.</p>\n</div>\n</body></html>",
        "options": {}
      },
      "id": "e1b2c3d4-0005-4000-8000-000000000007",
      "name": "Gmail - Relance Devis",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1800, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {},
      "id": "e1b2c3d4-0005-4000-8000-000000000008",
      "name": "No Op (Aucun Devis)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1550, 400]
    }
  ],
  "connections": {
    "CRON Quotidien 9h": {
      "main": [
        [
          {
            "node": "Init Seuils Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Seuils Dates": {
      "main": [
        [
          {
            "node": "Notion - Query Devis Nouveaux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Query Devis Nouveaux": {
      "main": [
        [
          {
            "node": "Classifier Devis à Relancer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier Devis à Relancer": {
      "main": [
        [
          {
            "node": "Devis à Relancer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Devis à Relancer?": {
      "main": [
        [
          {
            "node": "Split Devis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Op (Aucun Devis)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Devis": {
      "main": [
        [
          {
            "node": "Gmail - Relance Devis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris"
  },
  "tags": [
    {
      "name": "pack-artisan"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
